<!-- <app-loader *ngIf="loadingPage"></app-loader> -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <mdb-card *ngIf="!loadingPage">
                <mdb-card-body>
                    <form class="text-center" style="color: #757575;" (submit)="sendData()">
                        <div class="row">
                            <div class="col">
                                <div class="md-form">
                                    <ng-select [items]="locals"  bindLabel="item_name"
                                        bindValue="item_id"
                                        name="selectedLocal"
                                        placeholder="Lokal"
                                        [(ngModel)]="selectedLocal">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <!-- Name -->
                        <div class="md-form mt-3">
                            <input type="text" id="couponTitle" class="form-control" name="couponTitle" [(ngModel)]="coupon_data.name" [value]="coupon_data.name" mdbInput>
                            <label for="couponTitle">Tytul kuponu</label>
                        </div>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="uploadLogo"
                                aria-describedby="uploadLogo" [(ngModel)]="uploadedLogo" name="uploadedLogo" (change)="uploadLogo($event)">
                                <label class="custom-file-label" for="uploadLogo">{{logo ? logo.name : 'Wyślij logo'}}</label>
                            </div>
                        </div>

                        <div class="md-form mt-3">
                            <!-- <input type="text" id="materialSubscriptionFormPasswords" class="form-control"  mdbInput> -->
                            <textarea id="couponText" class="md-textarea form-control" name="couponText"  [(ngModel)]="coupon_data.description" rows="4" mdbInput></textarea>
                            <label for="couponText">Tresc kuponu</label>
                        </div>
                        <!-- <div class="md-form">
                            <textarea type="text" id="form7" class="md-textarea form-control" mdbInput></textarea>
                            <label for="form7">Basic textarea</label>
                          </div> -->

                        <!-- <div class="md-form mt-3">
                            <tag-input id="mainTags" name="mainTags" [(ngModel)]='staticEditCoupon.mainTags' [blinkIfDupe]="true" [identifyBy]="'value'" [displayBy]="'name'" [separatorKeyCodes]="[32]"></tag-input>
                        </div>

                        <div class="md-form mt-3">
                            <tag-input id="secondaryTags" name="secondaryTags" [(ngModel)]='staticEditCoupon.secondaryTags' [blinkIfDupe]="true" [identifyBy]="'value'" [displayBy]="'name'"></tag-input>
                        </div>
                     -->
                        <!-- <div class="row">
                            <div class="col">
                                <div class="md-form">
                                    <ng-select id="mainTags" [multiple]="true" name="mainTags" [(ngModel)]="selectedMainTags" (change)="selectMainTags($event)" >
                                        <ng-option *ngFor="let tag of tagList" [value]="tag">{{tag.name}}</ng-option>
                                    </ng-select>
                                    <label for="mainTags">Tagi główne (max 3)</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-form">
                                    <ng-select id="secondaryTags" [multiple]="true" name="secondaryTags" [(ngModel)]="selectedSecondaryTags" (change)="selectSecondaryTags($event)">
                                        <ng-option *ngFor="let tag of tagList" [value]="tag" >{{tag.name}}</ng-option>
                                    </ng-select>
                                    <label for="secondaryTags">Tagi dodatkowe</label>
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col">
                                <div class="md-form">
                                    <!-- <ng-select id="mainTags"
                                    bindValue="id" [multiple]="true" name="mainTags" [selectableGroup]="true"
                                    placeholder="Tagi główne (max 3)"
                                    [closeOnSelect]="false" [(ngModel)]="selectedMainTags" (change)="selectMainTags($event)"
                                    (remove)="remove($event)">
                                        <ng-option *ngFor="let tag of tagList" [value]="tag">
                                            {{tag.name}}
                                        </ng-option>
                                    </ng-select> -->
                                    <ngx-select-dropdown (change)="selectMainTags($event)" [multiple]="true" name="mainTags" [(ngModel)]="selectedMainTags"  [options]="tagList" [config]="config"></ngx-select-dropdown >

                                    <!-- <label for="mainTags">Tagi główne (max 3)</label> -->
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-form">
                                    <!-- <ng-select id="secondaryTags"
                                    placeholder="Tagi dodatkowe" [multiple]="true" name="secondaryTags" [(ngModel)]="selectedSecondaryTags"
                                    bindValue="id" [multiple]="true" [selectableGroup]="true"
                                    [closeOnSelect]="false" (change)="selectSecondaryTags($event)"
                                    (remove)="remove($event)">
                                        <ng-option *ngFor="let tag of tagList" [value]="tag" >{{tag.name}}</ng-option>
                                    </ng-select> -->
                                    <ngx-select-dropdown (change)="selectSecondaryTags($event)" [multiple]="true" name="secondaryTags" [(ngModel)]="selectedSecondaryTags"  [options]="tagList" [config]="config2"></ngx-select-dropdown >

                                </div>
                            </div>
                        </div>
                        <div class="md-form mt-3">
                            <input type="text" id="count" class="form-control" name="count"  [(ngModel)]="coupon_data.amount" mdbInput>
                            <label for="count">Ilość</label>
                        </div>
                        <div class="form-check text-left">
                            <input type="checkbox" class="form-check-input" id="delivery" name="delivery" [(ngModel)]="coupon_data.mature">
                            <label class="form-check-label" for="delivery">Dla dorosłych</label>
                        </div>
                        <div class="text-left mt-5">
                            <p>Forma dostawy:</p>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="delivery" name="delivery" [(ngModel)]="coupon_data.delivery">
                                <label class="form-check-label" for="delivery">Dowóz</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="eat_in_local" name="eat_in_local" [(ngModel)]="coupon_data.eat_in_local">
                                <label class="form-check-label" for="eat_in_local">Na miejscu</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="pick_up_local" name="pick_up_local" [(ngModel)]="coupon_data.pick_up_local">
                                <label class="form-check-label" for="pick_up_local">Odbiór osobisty</label>
                            </div>
                        </div>
                        <!-- <ul class="nav grey day_tab lighten-4 py-4 mt-5">
                            <li class="nav-item" *ngFor="let item of open_hours; let i = index"  [class.active]="i === selectedDayId">
                                <div class="day ml-2 mr-2" (click)="selectDay(item.id_week_day, i)">{{dayName[i]}}</div>
                            </li>
                        </ul> -->
                        <ul class="nav grey day_tab lighten-4 py-4">
                            <li class="nav-item" *ngFor="let item of dayName; let i = index"  [class.active]="i === selectedDayId">
                                <div class="day ml-2 mr-2" (click)="selectDay(i)">{{item}}</div>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-12 text-left mt-2">
                                <p>Godziny dostępności kuponu</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="md-form">
                                    <input type="time" id="openLocalFrom" class="form-control" name="openLocalFrom" [(ngModel)]="open_hours[selectedDayId].hour_from" mdbInput>
                                    <label for="openLocalHour">od:</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="md-form">
                                    <input type="time" id="openLocalTo" class="form-control" name="openLocalTo" [(ngModel)]="open_hours[selectedDayId].hour_to"  mdbInput>
                                    <label for="closeLocalHour">do:</label>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-check text-left">
                            <input type="checkbox" class="form-check-input" id="hourState" name="hourState" (click)="fillHour()">
                            <label class="form-check-label" for="hourState">Codziennie tak samo</label>
                        </div> -->
                        <!-- Sign in button -->
                        <button mdbBtn color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect" mdbWavesEffect
                        type="submit" [disabled]="logo ? false : true" [class.disabled]="logo ? false : true">Wyślij</button>
                    </form>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>