<!-- Default form login -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Foodini : Support</p>
  
    <div class="md-form">
        <input mdbInput type="text" id="login" class="form-control">
        <label for="login" class="">Login</label>
    </div>
    
    <div class="md-form">
        <input mdbInput type="password" id="password" class="form-control">
        <label for="password" class="">Hasło</label>
    </div>
    
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Zaloguj</button>
  
  </form>
  <!-- Default form login -->