<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color mb-5">
	<!-- Navbar brand -->
	<a class="navbar-brand" href="#">Foodini</a>

	<!-- Collapse button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
	  aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>

	<!-- Collapsible content -->
	<div class="collapse navbar-collapse" id="basicExampleNav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"  routerLinkActive="active">
				<a class="nav-link" [routerLink]="['/list-restaurants']">Lista restauracji</a>
			</li>
			<li class="nav-item"  routerLinkActive="active">
				<a class="nav-link" [routerLink]="['/add-coupon']">Dodawanie kuponu</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" [routerLink]="['/add-restaurant']">Dodawanie restauracji</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" [routerLink]="['/login']">Logowanie</a>
			</li>
		</ul>
	</div>
	<!-- Collapsible content -->
</nav>
<!--/.Navbar-->
<router-outlet></router-outlet>