<div class="container">
    <div class="row">
        <div class="col-12">
                <mdb-card>
                    <mdb-card-body>
                        <form class="text-center" style="color: #757575;" (submit)="sendData()">
                            <!-- Name -->
                            <div class="md-form mt-3">
                                <select class="browser-default custom-select" mdbSelect>>
                                    <option *ngFor="let city of cities" value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>

                            <!-- E-mai -->
                            <div class="md-form">
                                <input type="email" id="restaurantName" class="form-control" name="restaurantName" [(ngModel)]="staticEditCoupon.restaurantName"  mdbInput>
                                <label for="restaurantName">Nazwa lokalu</label>
                            </div>

                            <div class="md-form">
                                <input type="email" id="restaurantAddress" class="form-control" name="restaurantAddress" [(ngModel)]="staticEditCoupon.restaurantAddress" mdbInput>
                                <label for="restaurantAddress">Adres</label>
                            </div>

                            <div class="md-form">
                                <input type="email" id="contact" class="form-control" name="contact" [(ngModel)]="staticEditCoupon.contact" mdbInput>
                                <label for="contact">Kontakt</label>
                            </div>

                            <div class="md-form">
                                <input type="email" id="type" class="form-control" name="type" [(ngModel)]="staticEditCoupon.type" mdbInput>
                                <label for="type">Rodzaj kuchni</label>
                            </div>
                            <div class="md-form mt-3">
                                <tag-input id="mainTags" name="mainTags" [(ngModel)]='staticEditCoupon.mainTags' [blinkIfDupe]="true" [identifyBy]="'value'" [displayBy]="'name'" [separatorKeyCodes]="[32]"></tag-input>
                            </div>

                            <div class="md-form mt-3">
                                <tag-input id="secondaryTags" name="secondaryTags" [(ngModel)]='staticEditCoupon.secondaryTags' [blinkIfDupe]="true" [identifyBy]="'value'" [displayBy]="'name'"></tag-input>
                            </div>
                            <div class="md-form">
                                <input type="email" id="openHour" class="form-control" name="openHour" [(ngModel)]="staticEditCoupon.openHour"  mdbInput>
                                <label for="openHour">Godziny otwarcia od:</label>
                            </div>

                            <div class="md-form">
                                <input type="email" id="closeHour" class="form-control" name="closeHour" [(ngModel)]="staticEditCoupon.closeHour"  mdbInput>
                                <label for="closeHour">Godziny otwarcia do:</label>
                            </div>


                            <!-- Sign in button -->
                            <button mdbBtn color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect" mdbWavesEffect
                            type="submit">Wyślij</button>

                        </form>
                    </mdb-card-body>
                </mdb-card>

        </div>
    </div>
</div>