<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="text-center" style="color: #757575;" (submit)="sendData()">
                <mdb-card>
                    <mdb-card-body>

                        <div class="md-form mt-3">
                            <!-- <input type="text" id="city" class="form-control" name="city" [(ngModel)]="local_data.city" mdbInput>
                            <label for="city">Miasto</label> -->
                            <ng-select id="city" name="city" placeholder="Miasto" [selectableGroup]="true" [(ngModel)]="local_data.id_city_const_type">
                                <ng-option *ngFor="let item of cities" [value]="item.item_id" #cityName>{{item.item_name}}</ng-option>
                            </ng-select>
                        </div>

                        <div class="md-form">
                            <input type="text" id="restaurantName" class="form-control" name="restaurantName" [(ngModel)]="local_data.name"  mdbInput>
                            <label for="restaurantName">Nazwa lokalu</label>
                        </div>

                        <div class="md-form">
                            <input type="number" id="deliveryRange" class="form-control" name="deliveryRange" [(ngModel)]="local_data.delivery_range"  mdbInput>
                            <label for="deliveryRange">Zasięg dostawy</label>
                        </div>
                        <div class="md-form">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="uploadLogo"
                                    aria-describedby="uploadLogo" [(ngModel)]="uploadedLogo" name="uploadedLogo" (change)="uploadLogo($event)">
                                    <label class="custom-file-label" for="uploadLogo">{{logo ? logo.name : 'Wyślij logo'}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="md-form">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="uploadBackground"
                                    aria-describedby="uploadBackground" [(ngModel)]="uploadedBackground" name="uploadedBackground" (change)="uploadBackground($event)">
                                    <label class="custom-file-label" for="uploadBackground">{{background ? background.name : 'Wyślij tło'}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="md-form">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="uploadMenu"
                                    aria-describedby="uploadMenu" [(ngModel)]="uploadedMenu" name="uploadedMenu" (change)="uploadMenu($event)">
                                    <label class="custom-file-label" for="uploadMenu">{{menu ? menu.name : 'Wyślij menu'}}</label>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="md-form">
                            <div class="file-field">
                                <div class="btn btn-primary btn-sm float-left">
                                  <span>Choose file</span>
                                  <input type="file">
                                </div>
                                <div class="file-path-wrapper">
                                  <input class="file-path validate" type="text" placeholder="Upload your file" [(ngModel)]="myFile" name="myFile" (change)="fileEvent($event)">
                                </div>
                            </div>
                        </div>-->
                        <div class="md-form">
                            <input type="text" id="restaurantAddress" class="form-control" name="restaurantAddress" [(ngModel)]="local_data.address" mdbInput>
                            <label for="restaurantAddress">Adres</label>
                        </div>

                        <div class="md-form">
                            <input type="number" id="contact" class="form-control" name="contact" [(ngModel)]="local_data.phone_number" mdbInput>
                            <label for="contact">Telefon</label>
                        </div>

                        <div class="md-form">
                            <textarea id="description" class="md-textarea form-control" name="description" [(ngModel)]="local_data.description" rows="3"></textarea>
                            <label for="description">Opis</label>
                        </div>

                        <!-- <div class="md-form">
                            <textarea id="other_info" class="md-textarea form-control" name="other_info" [(ngModel)]="local_data.other_info" rows="3"></textarea>
                            <label for="other_info">Informacje o lokalu</label>
                        </div> -->

                        <div class="md-form">
                            <input type="text" id="facebook_url" class="form-control" name="facebook_url" [(ngModel)]="local_data.facebook_url" mdbInput>
                            <label for="facebook_url">Adres facebook</label>
                        </div>

                        <div class="md-form">
                            <input type="text" id="instagram_url" class="form-control" name="instagram_url" [(ngModel)]="local_data.instagram_url" mdbInput>
                            <label for="instagram_url">Adres instagram</label>
                        </div>

                        <div class="text-left">
                            <p>Forma dostawy:</p>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="delivery" name="delivery" [(ngModel)]="local_data.delivery">
                                <label class="form-check-label" for="delivery">Dowóz</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="eat_in_local" name="eat_in_local" [(ngModel)]="local_data.eat_in_local">
                                <label class="form-check-label" for="eat_in_local">Na miejscu</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="pick_up_local" name="pick_up_local" [(ngModel)]="local_data.pick_up_local">
                                <label class="form-check-label" for="pick_up_local">Odbiór osobisty</label>
                            </div>
                        </div>
                        <div class="text-left">
                            <p>Płatności:</p>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialUnchecked" name="cash_payment" [(ngModel)]="local_data.cash_payment">
                                <label class="form-check-label" for="cash_payment">Platnosc gotowka</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialUnchecked" name="creditcards_payment" [(ngModel)]="local_data.creditcards_payment">
                                <label class="form-check-label" for="creditcards_payment">Platnosc karta</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialUnchecked" name="contactless_payment" [(ngModel)]="local_data.contactless_payment">
                                <label class="form-check-label" for="contactless_payment">Platnosc zblizeniowa</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialUnchecked" name="blik_payment" [(ngModel)]="local_data.blik_payment">
                                <label class="form-check-label" for="blik_payment">Platnosc blikiem</label>
                            </div>
                        </div>

                        <!-- <div class="md-form">
                            <input type="text" id="type" class="form-control" name="type" [(ngModel)]="local_data.type" mdbInput>
                            <label for="type">Rodzaj kuchni</label>
                        </div> -->
                        <div class="row">
                            <div class="col">
                                <div class="md-form">
                                    <ng-select id="mainTags"
                                    bindValue="id" [multiple]="true" name="mainTags" [selectableGroup]="true"
                                    placeholder="Tagi główne (max 3)"
                                    [closeOnSelect]="false" [(ngModel)]="selectedMainTags" (change)="selectMainTags($event)"
                                    (remove)="remove($event)">
                                        <ng-option *ngFor="let tag of tagList" [value]="tag">
                                            <!-- <input id="item-{{tag.id}}" type="checkbox"/> -->
                                            {{tag.name}}
                                        </ng-option>
                                    </ng-select>
                                    <!-- <label for="mainTags">Tagi główne (max 3)</label> -->
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-form">
                                    <ng-select id="secondaryTags"
                                    placeholder="Tagi dodatkowe" [multiple]="true" name="secondaryTags" [(ngModel)]="selectedSecondaryTags"
                                    bindValue="id" [multiple]="true" [selectableGroup]="true"
                                    [closeOnSelect]="false" (change)="selectSecondaryTags($event)"
                                    (remove)="remove($event)">
                                        <ng-option *ngFor="let tag of tagList" [value]="tag" >{{tag.name}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </mdb-card-body>
                </mdb-card>
                <ul class="nav grey day_tab lighten-4 py-4">
                    <li class="nav-item" *ngFor="let item of open_hours; let i = index"  [class.active]="i === selectedDayId">
                        <div class="day ml-2 mr-2" (click)="selectDay(item.id_week_day, i)">{{item.day_name}}</div>
                    </li>
                </ul>
                <mdb-card>
                    <mdb-card-body>
                        <div class="row">
                            <div class="col-12 text-left">
                                <p>Godziny otwarcia lokalu</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="md-form">
                                    <input type="time" id="openLocalFrom" class="form-control" name="openLocalFrom" [(ngModel)]="open_hours[selectedDayId].local_hour_from" [disabled]="!local_data.pick_up_local && !local_data.eat_in_local"  mdbInput>
                                    <label for="openLocalHour">od:</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="md-form">
                                    <input type="time" id="openLocalTo" class="form-control" name="openLocalTo" [(ngModel)]="open_hours[selectedDayId].local_hour_to" [disabled]="!open_hours[selectedDayId].local_hour_from && (!local_data.pick_up_local || !local_data.eat_in_local)"  mdbInput>
                                    <label for="closeLocalHour">do:</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 text-left">
                                <p>GOdziny otwarcia kuchni</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="md-form">
                                    <input type="time" id="openKitchenFrom" class="form-control" name="openKitchenFrom" [(ngModel)]="open_hours[selectedDayId].kitchen_hour_from" [disabled]="!local_data.pick_up_local && !local_data.eat_in_local"  mdbInput>
                                    <label for="openKitchenHour">od:</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="md-form">
                                    <input type="time" id="openKitchenTo" class="form-control" name="openKitchenTo" [(ngModel)]="open_hours[selectedDayId].kitchen_hour_to" [disabled]="!open_hours[selectedDayId].kitchen_hour_from && (!local_data.pick_up_local || !local_data.eat_in_local)"  mdbInput>
                                    <label for="closeKitchenHour">do:</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 text-left">
                                <p>Godziny dowozu</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="md-form">
                                    <input type="time" id="OpenDeliveryFrom" class="form-control" name="OpenDeliveryFrom" [(ngModel)]="open_hours[selectedDayId].delivery_hour_from" [disabled]="!local_data.delivery"  mdbInput>
                                    <label for="openDeliveryHour">od:</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="md-form">
                                    <input type="time" id="OpenDeliveryTo" class="form-control" name="OpenDeliveryTo" [(ngModel)]="open_hours[selectedDayId].delivery_hour_to" [disabled]="!open_hours[selectedDayId].delivery_hour_from || !local_data.delivery"  mdbInput>
                                    <label for="closeDeliveryHour">do:</label>
                                </div>
                            </div>
                        </div>
                        <button mdbBtn color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect" mdbWavesEffect
                        type="submit">Wyślij</button>
                    </mdb-card-body>
                </mdb-card>
            </form>
        </div>
    </div>
</div>