<div class="container">
    <div class="row">
        <div class="col-12">
            <mdb-card>
                <mdb-card-body>
                    <form class="text-center" style="color: #757575;" (submit)="sendData()">
                        <!-- Name -->
                        <div class="md-form mt-3">
                            <input type="text" id="couponTitle" class="form-control" name="couponTitle" [(ngModel)]="tagTitle" [value]="tagTitle" mdbInput>
                            <label for="couponTitle">Tytul tagu</label>
                        </div>
                        <div class="md-form">
                            <ng-select [items]="categories"  bindLabel="item_name"
                                autofocus
                                bindValue="item_id"
                                name="selectedTagCategories"
                                [(ngModel)]="selectedTagCategories">
                            </ng-select>
                            <label for="secondaryTags">Tagi dodatkowe</label>
                        </div>
                        <div class="md-form mt-3">
                            <!-- <input type="text" id="materialSubscriptionFormPasswords" class="form-control"  mdbInput> -->
                            <textarea id="couponText" class="md-textarea form-control" name="couponText"  [(ngModel)]="tagDescription" rows="4" mdbInput></textarea>
                            <label for="couponText">Opis</label>
                        </div>
                        <!-- Sign in button -->
                        <button mdbBtn color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect" mdbWavesEffect
                        type="submit">Wyślij</button>

                    </form>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>