<div class="container">
    <div class="row">
        <div class="col-12">
            <mdb-card>
                <mdb-card-body>
                    <form class="text-center" style="color: #757575;" (submit)="sendData()">
                        <!-- Name -->
                        <div class="md-form mt-3">
                            <input type="text" id="couponTitle" class="form-control" name="couponTitle" [(ngModel)]="staticEditCoupon.couponTitle" [value]="staticEditCoupon.title" mdbInput>
                            <label for="couponTitle">Tytul kuponu</label>
                        </div>

                        <div class="md-form mt-3">
                            <!-- <input type="text" id="materialSubscriptionFormPasswords" class="form-control"  mdbInput> -->
                            <textarea id="couponText" class="md-textarea form-control" name="couponText"  [(ngModel)]="staticEditCoupon.couponText" rows="4"></textarea>
                            <label for="couponText">Tresc kuponu</label>
                        </div>

                        <div class="md-form mt-3">
                            <tag-input id="mainTags" name="mainTags" [(ngModel)]='staticEditCoupon.mainTags' [blinkIfDupe]="true" [identifyBy]="'value'" [displayBy]="'name'" [separatorKeyCodes]="[32]"></tag-input>
                        </div>

                        <div class="md-form mt-3">
                            <tag-input id="secondaryTags" name="secondaryTags" [(ngModel)]='staticEditCoupon.secondaryTags' [blinkIfDupe]="true" [identifyBy]="'value'" [displayBy]="'name'"></tag-input>
                        </div>
                        <div class="md-form mt-3">
                            <input type="text" id="count" class="form-control" name="count"  [(ngModel)]="staticEditCoupon.count" mdbInput>
                            <label for="count">Ilość</label>
                        </div>
                        <!-- Sign in button -->
                        <button mdbBtn color="info" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect" mdbWavesEffect
                        type="submit">Wyślij</button>

                    </form>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>