/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/material.theme.css";
.card {
    border: 0 !important;
    .card-body {
        padding: 0;
    }
}
ng-select {
    padding-bottom: 0 !important;
    .ng-value-container {
        .ng-value {
            span {
                input {
                    display: none;
                }
            }
        }
    }
}

.custom-file-label {
    border: none;
    border-bottom: 1px solid #ced4da;
    text-align: left;
    color: #757575;
    font-weight: 300;
    padding-left: 0;
}
button {
    &.disabled {
        border-color: grey !important;
        color: grey !important;
    }
}
nav {
    background-color: whitesmoke !important;
    a {
        &.navbar-brand {
            color: #000;
        }
    }
    ul {
        li {
            &.nav-item {
                a {
                    &.nav-link {
                        color: #000;
                    }
                }
            }
        }
    }
}
mdb-card {
    &.card {
        box-shadow: none !important;
    }
}